<!-- Footer -->
<footer class="Footer">
  <div class="Container">
    <div class="Grid">
      <!-- Logo -->
      <div class="Grid-col Grid-col--6 Grid-col--md-12 u-md-mb-40">
        <a href="/" class="Footer-logo" title="Klub sportovního plavání Kladno - domovská stránka">
          <img src="./img/logos/ksp_kladno.svg" alt="logo Klub sportovního plavání Kladno" width="79" height="111" loading="lazy"/>
          <span class="Footer-title u-ml-24">Klub sportovního plavání
            <strong class="u-tt-uppercase">Kladno</strong>
          </span>
        </a>
      </div>
      <!-- Contacts -->
      <div class="Grid-col Grid-col--2 Grid-col--md-4 Grid-col--xs-6">
        <h4 class="H4">Kontakty</h4>
        <ul class="UnstyledList u-mt-8">
          <li class="UnstyledList-item">
            <a href="mailto:petra.landova@seznam.cz" class="Link Link--gradient u-fs-small">petra.landova@seznam.cz</a>
          </li>
          <li class="UnstyledList-item">
            <a href="tel:+420728922056" class="Link--inverted">+420 728 922 056</a>
          </li>
          <li class="UnstyledList-item">IČ: 14800900</li>
        </ul>
      </div>
      <!-- Socials -->
      <div class="Grid-col Grid-col--2 Grid-col--md-4 Grid-col--xs-6">
        <h4 class="H4">Sledujte nás</h4>
        <ul class="Socials u-mt-8" aria-label="Odkazy na sociální sítě">
          <li class="Socials-item u-mr-24">
            <a class="Socials-link" href="https://www.instagram.com/kspkladno/" target="_blank" rel="noopener noreferrer" aria-label="KSP Kladno Instagram" title="KSP Kladno Instagram">
              <svg class="Socials-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24" focusable="false" aria-hidden="true">
                <path stroke="#0E2F56" stroke-linecap="round" stroke-linejoin="round" d="M17 2H7a5 5 0 0 0-5 5v10a5 5 0 0 0 5 5h10a5 5 0 0 0 5-5V7a5 5 0 0 0-5-5z"/>
                <path stroke="#0E2F56" stroke-linecap="round" stroke-linejoin="round" d="M16 11.37a4 4 0 1 1-7.914 1.174A4 4 0 0 1 16 11.37zm1.5-4.87h.01"/>
              </svg>
            </a>
          </li>
          <li class="Socials-item u-mr-24">
            <a class="Socials-link" href="https://www.facebook.com/kspkl.cz" target="_blank" rel="noopener noreferrer" aria-label="KSP Kladno Facebook" title="KSP Kladno Facebook">
              <svg class="Socials-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24" focusable="false" aria-hidden="true"><path stroke="#0E2F56" stroke-linecap="round" stroke-linejoin="round" d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3V2z"/></svg>
            </a>
          </li>
          <li class="Socials-item">
            <a class="Socials-link" href="#" target="_blank" rel="noopener noreferrer" aria-label="KSP Kladno YouTube" title="KSP Kladno YouTube">
              <svg class="Socials-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewbox="0 0 24 24" focusable="false" aria-hidden="true">
                <path stroke="#0E2F56" stroke-linecap="round" stroke-linejoin="round" d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 28.99 28.99 0 0 0 .46-5.25 28.996 28.996 0 0 0-.46-5.33z"/>
                <path stroke="#0E2F56" stroke-linecap="round" stroke-linejoin="round" d="M9.75 15.02l5.75-3.27-5.75-3.27v6.54z"/>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <!-- Important links -->
      <div class="Grid-col Grid-col--2 Grid-col--md-4 Grid-col--xs-12 u-xs-mt-40">
        <h4 class="H4">Důležité odkazy</h4>
        <ul class="UnstyledList u-mt-8">
          <li class="UnstyledList-item">
            <a href="#" class="Link--inverted">Cookies</a>
          </li>
          <li class="UnstyledList-item">
            <a href="#" class="Link--inverted">Copyright</a>
          </li>
          <li class="UnstyledList-item">
            <a href="#" class="Link--inverted">Fakturační údaje</a>
          </li>
          <li class="UnstyledList-item">
            <a href="#" class="Link--inverted">Přístupnost</a>
          </li>
        </ul>
      </div>
    </div>
    <small class="u-display-flex u-align-items-center u-justify-flex-end u-md-justify-center u-fs-small u-mt-40">
      Vyrobeno v
      <a href="https://esportsmedia.cz/" class="u-display-inline-flex u-mx-12 u-mb-4" target="_blank" rel="noopener noreferrer" aria-label="eSports.cz" title="eSports.cz"><img src="./img/logos/esports-dark.svg" alt="logo eSports.cz" width="70" height="21" loading="lazy"/></a>
      v roce 2022
    </small>
  </div>
</footer>