{% set pageTitle = '{ Název článku } | Klub sportovního plavání Kladno' %}
{% extends "../templates/layout.njk" %}
{% block main %}
  <!-- Main content -->
  <main class="Main" aria-label="Hlavní obsah">
    <div class="Container Container--decorative">
      <!-- Article -->
      <article class="Article">
        <header>
          <div class="Grid u-align-items-center">
            <div class="Grid-col Grid-col--6 Grid-col--sm-12">
              <div class="Article-meta">
                <time class="Article-date" datetime="2022-06-10">10. 6. 2022</time>
                <span class="Article-category">novinky</span>
              </div>
              <h1>TJ Lars Kladno představuje nové stránky od společnosti eSports.cz</h1>
              <p class="Article-perex">Etická komise Fotbalové asociace ČR uložila útočníkovi Marku Vintrovi osmnáctiměsíční distanc a desetitisícovou pokutu za to, že si v sezoně 2020/21 v dresu Brna nechal schválně udělit dvě žluté karty. Informovala o tom v komuniké.</p>
            </div>
            <div class="Grid-col Grid-col--6 Grid-col--sm-12 u-sm-mt-24">
              <img class="u-content-img" src="./img/placeholder-1.jpg" alt="" aria-hidden="true"/>
            </div>
          </div>
        </header>
        <div class="Article-body">
          <p>Vintr měl podle etické komise vsazeno na to, že obdrží žlutou kartu. V obou utkáních, jimiž se policie a etická komise FAČR zabývaly, ji skutečně dostal, a to v roli střídajícího hráče. Čtyřiadvacetiletý Vintr, který v jarní části uplynulého ročníku působil ve třetiligových Otrokovicích, jednal na popud hráčského agenta Lukáše Hály.</p>
          <p>Toho etická komise potrestala pokutou 10 tisíc korun za to, že se nedostavil k řízení. Jiný trest mu uložit nemohla, protože v té době ještě nebyl agentem s licencí.</p>
          <hr/>
          <h2>Nadpis H2</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, rerum dolorem molestias magni iure illum, impedit modi vitae, cupiditate adipisci ut beatae commodi necessitatibus! Quis quidem dignissimos ipsam atque incidunt laudantium tenetur alias aperiam beatae, at voluptate adipisci assumenda eaque velit error officia mollitia hic eos porro cumque temporibus modi odit. Modi enim facere aspernatur eius voluptates ratione consequatur quidem tempora natus quos, ullam saepe odit, fugit cupiditate ut ipsum!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et consectetur ipsa sequi. Nobis ex, ipsa dolore neque officiis unde, vel eveniet maxime perferendis voluptates, accusantium maiores ad. Hic, esse placeat quisquam velit ex vitae. Nisi facilis repellendus excepturi pariatur?</p>
          <div class="Article-widget">
            <figure>
              <blockquote>
                <p>Citace - Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit laborum quia repellendus maxime obcaecati neque perspiciatis ad sapiente ipsum error</p>
              </blockquote>
              <figcaption>{ jméno příjmení }</figcaption>
            </figure>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quisquam, laborum impedit quod ex numquam, quidem facilis animi optio quasi, qui dolorem! Soluta debitis omnis provident harum recusandae eveniet, vero dolore tempora cumque voluptas facilis nesciunt consequuntur iste nulla hic dolorum. Hic, voluptates consequatur. Amet possimus eveniet explicabo accusamus quibusdam officiis et laboriosam ducimus natus veritatis fugiat labore dicta, distinctio voluptatum excepturi consequuntur dolores magni repudiandae nesciunt deserunt blanditiis consequatur, culpa iusto. Veniam iure officiis, est deleniti dolorem obcaecati itaque.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, suscipit veniam voluptatem ad odit a incidunt cum vero vel quo illum exercitationem ratione corrupti doloremque magnam dicta qui facere tempore. Debitis consequuntur in nam blanditiis natus numquam, dolor est officia ipsum commodi expedita excepturi tempora maiores nihil dolore ullam dolorem tempore! Debitis blanditiis quae esse a autem iure quam laboriosam.</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi at excepturi tenetur cum libero modi optio, ullam, exercitationem obcaecati, quo iste molestias. Quisquam, architecto nihil ipsam dolore voluptatum a animi, suscipit dolor deleniti minima sit iusto nobis officiis aspernatur tempore.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ullam iusto quaerat earum nobis laborum expedita fugit dolorum eaque maiores!</p>
          <div class="Article-widget">
            <div class="PhotoGalleryGrid PhotoGalleryGrid--article u-overflow-x-auto js-photogallery" role="region" aria-label="Fotogalerie">
              <a class="PhotoBox" href="./img/placeholder-1.jpg" data-caption="@TODO - photo title" title="Zobrazit větší">
                <div class="PhotoBox-thumbnailContainer PhotoBox-thumbnailContainer--icon PhotoBox-thumbnailContainer--iconZoom">
                  <img class="PhotoBox-thumbnail" src="./img/placeholder-1.jpg" alt="" loading="lazy"/>
                </div>
              </a>
              <a class="PhotoBox" href="./img/placeholder-1.jpg" data-caption="@TODO - photo title" title="Zobrazit větší">
                <div class="PhotoBox-thumbnailContainer PhotoBox-thumbnailContainer--icon PhotoBox-thumbnailContainer--iconZoom">
                  <img class="PhotoBox-thumbnail" src="./img/placeholder-1.jpg" alt="" loading="lazy"/>
                </div>
              </a>
              <a class="PhotoBox" href="./img/placeholder-2.jpg" data-caption="@TODO - photo title" title="Zobrazit větší">
                <div class="PhotoBox-thumbnailContainer PhotoBox-thumbnailContainer--icon PhotoBox-thumbnailContainer--iconZoom">
                  <img class="PhotoBox-thumbnail" src="./img/placeholder-2.jpg" alt="" loading="lazy"/>
                </div>
              </a>
              <a class="PhotoBox" href="./img/placeholder-2.jpg" data-caption="@TODO - photo title" title="Zobrazit větší">
                <div class="PhotoBox-thumbnailContainer PhotoBox-thumbnailContainer--icon PhotoBox-thumbnailContainer--iconZoom">
                  <img class="PhotoBox-thumbnail" src="./img/placeholder-2.jpg" alt="" loading="lazy"/>
                </div>
              </a>
              <a class="PhotoBox" href="./img/placeholder-2.jpg" data-caption="@TODO - photo title" title="Zobrazit větší">
                <div class="PhotoBox-thumbnailContainer PhotoBox-thumbnailContainer--icon PhotoBox-thumbnailContainer--iconZoom">
                  <img class="PhotoBox-thumbnail" src="./img/placeholder-2.jpg" alt="" loading="lazy"/>
                </div>
              </a>
              <a class="PhotoBox" href="./img/placeholder-2.jpg" data-caption="@TODO - photo title" title="Zobrazit větší">
                <div class="PhotoBox-thumbnailContainer PhotoBox-thumbnailContainer--icon PhotoBox-thumbnailContainer--iconZoom">
                  <img class="PhotoBox-thumbnail" src="./img/placeholder-2.jpg" alt="" loading="lazy"/>
                </div>
              </a>
              <a class="PhotoBox" href="./img/placeholder-2.jpg" data-caption="@TODO - photo title" title="Zobrazit větší">
                <div class="PhotoBox-thumbnailContainer PhotoBox-thumbnailContainer--icon PhotoBox-thumbnailContainer--iconZoom">
                  <img class="PhotoBox-thumbnail" src="./img/placeholder-2.jpg" alt="" loading="lazy"/>
                </div>
              </a>
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <a href="#">Repellat hic architecto</a>, facere, quaerat sapiente laboriosam similique, quibusdam deleniti
            <strong>repudiandae quam expedita nostrum quas voluptate illo atque doloribus nisi quidem esse omnis?</strong>
            Adipisci obcaecati mollitia sit recusandae nisi suscipit odit soluta.</p>
        </div>
      </article>
    </div>
  </main>
{% endblock %}