{% set pageTitle = '{gallery name} | Klub sportovního plavání Kladno' %}
{% extends "../templates/layout.njk" %}
{% block main %}
  <!-- Main content -->
  <main class="Main" aria-label="Hlavní obsah">
    <div class="Container">
      <!-- Galleries -->
      <div class="Section Section--whiteBig">
        <h1 class="H2 H2--gradient">{gallery name}</h1>
        <div class="PhotoGalleryGrid u-mt-24 js-photogallery">
          <a class="PhotoBox" href="./img/placeholder-1.jpg" data-caption="@TODO - photo title" title="Zobrazit větší">
            <div class="PhotoBox-thumbnailContainer PhotoBox-thumbnailContainer--icon PhotoBox-thumbnailContainer--iconZoom">
              <img class="PhotoBox-thumbnail" src="./img/placeholder-1.jpg" alt="" loading="lazy"/>
            </div>
          </a>
          <a class="PhotoBox" href="./img/placeholder-1.jpg" data-caption="@TODO - photo title" title="Zobrazit větší">
            <div class="PhotoBox-thumbnailContainer PhotoBox-thumbnailContainer--icon PhotoBox-thumbnailContainer--iconZoom">
              <img class="PhotoBox-thumbnail" src="./img/placeholder-1.jpg" alt="" loading="lazy"/>
            </div>
          </a>
          <a class="PhotoBox" href="./img/placeholder-1.jpg" data-caption="@TODO - photo title" title="Zobrazit větší">
            <div class="PhotoBox-thumbnailContainer PhotoBox-thumbnailContainer--icon PhotoBox-thumbnailContainer--iconZoom">
              <img class="PhotoBox-thumbnail" src="./img/placeholder-1.jpg" alt="" loading="lazy"/>
            </div>
          </a>
          <a class="PhotoBox" href="./img/placeholder-1.jpg" data-caption="@TODO - photo title" title="Zobrazit větší">
            <div class="PhotoBox-thumbnailContainer PhotoBox-thumbnailContainer--icon PhotoBox-thumbnailContainer--iconZoom">
              <img class="PhotoBox-thumbnail" src="./img/placeholder-1.jpg" alt="" loading="lazy"/>
            </div>
          </a>
          <a class="PhotoBox" href="./img/placeholder-1.jpg" data-caption="@TODO - photo title" title="Zobrazit větší">
            <div class="PhotoBox-thumbnailContainer PhotoBox-thumbnailContainer--icon PhotoBox-thumbnailContainer--iconZoom">
              <img class="PhotoBox-thumbnail" src="./img/placeholder-1.jpg" alt="" loading="lazy"/>
            </div>
          </a>
          <a class="PhotoBox" href="./img/placeholder-1.jpg" data-caption="@TODO - photo title" title="Zobrazit větší">
            <div class="PhotoBox-thumbnailContainer PhotoBox-thumbnailContainer--icon PhotoBox-thumbnailContainer--iconZoom">
              <img class="PhotoBox-thumbnail" src="./img/placeholder-1.jpg" alt="" loading="lazy"/>
            </div>
          </a>
          <a class="PhotoBox" href="./img/placeholder-1.jpg" data-caption="@TODO - photo title" title="Zobrazit větší">
            <div class="PhotoBox-thumbnailContainer PhotoBox-thumbnailContainer--icon PhotoBox-thumbnailContainer--iconZoom">
              <img class="PhotoBox-thumbnail" src="./img/placeholder-1.jpg" alt="" loading="lazy"/>
            </div>
          </a>
          <a class="PhotoBox" href="./img/placeholder-1.jpg" data-caption="@TODO - photo title" title="Zobrazit větší">
            <div class="PhotoBox-thumbnailContainer PhotoBox-thumbnailContainer--icon PhotoBox-thumbnailContainer--iconZoom">
              <img class="PhotoBox-thumbnail" src="./img/placeholder-1.jpg" alt="" loading="lazy"/>
            </div>
          </a>
          <a class="PhotoBox" href="./img/placeholder-1.jpg" data-caption="@TODO - photo title" title="Zobrazit větší">
            <div class="PhotoBox-thumbnailContainer PhotoBox-thumbnailContainer--icon PhotoBox-thumbnailContainer--iconZoom">
              <img class="PhotoBox-thumbnail" src="./img/placeholder-1.jpg" alt="" loading="lazy"/>
            </div>
          </a>
          <a class="PhotoBox" href="./img/placeholder-1.jpg" data-caption="@TODO - photo title" title="Zobrazit větší">
            <div class="PhotoBox-thumbnailContainer PhotoBox-thumbnailContainer--icon PhotoBox-thumbnailContainer--iconZoom">
              <img class="PhotoBox-thumbnail" src="./img/placeholder-1.jpg" alt="" loading="lazy"/>
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>
{% endblock %}