{% set pageTitle = 'Tréninková skupina A | Klub sportovního plavání Kladno' %}
{% extends "../templates/layout.njk" %}
{% block main %}
  <!-- Main content -->
  <main class="Main" aria-label="Hlavní obsah">
    <div class="Container Container--decorative">
      <article class="Article">
        <header class="u-ta-center">
          <h1 class="Article-header">Tréninková skupina A</h1>
        </header>
        <div class="Article-body u-mt-40">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>
                  Jméno
                </th>
                <th>
                  Příjmení
                </th>
                <th>
                  Rok narození
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  1
                </td>
                <td>
                  Ema
                </td>
                <td>
                  BRADÁČOVÁ
                </td>
                <td>
                  2003
                </td>
              </tr>
              <tr>
                <td>
                  2
                </td>
                <td>
                  Anna
                </td>
                <td>
                  DUPAČOVÁ
                </td>
                <td>
                  2003
                </td>
              </tr>
              <tr>
                <td>
                  3
                </td>
                <td>
                  Pavla
                </td>
                <td>
                  JÍLKOVÁ
                </td>
                <td>
                  2005
                </td>
              </tr>
              <tr>
                <td>
                  4
                </td>
                <td>
                  Kristián
                </td>
                <td>
                  KAMEŠ
                </td>
                <td>
                  2005
                </td>
              </tr>
              <tr>
                <td>
                  5
                </td>
                <td>
                  Zdeňka
                </td>
                <td>
                  KOHOUTOVÁ
                </td>
                <td>
                  2006
                </td>
              </tr>
              <tr>
                <td>
                  6
                </td>
                <td>
                  Filip
                </td>
                <td>
                  KUČERA
                </td>
                <td>
                  2003
                </td>
              </tr>
              <tr>
                <td>
                  7
                </td>
                <td>
                  Marek
                </td>
                <td>
                  SOUČEK
                </td>
                <td>
                  2002
                </td>
              </tr>
              <tr>
                <td>
                  8
                </td>
                <td>
                  Lucie
                </td>
                <td>
                  SVÁTKOVÁ
                </td>
                <td>
                  2005
                </td>
              </tr>
              <tr>
                <td>
                  9
                </td>
                <td>
                  Anna
                </td>
                <td>
                  VRAŠTIAKOVÁ
                </td>
                <td>
                  2003
                </td>
              </tr>
              <tr>
                <td>
                  10
                </td>
                <td>
                  Anna
                </td>
                <td>
                  ALEŠOVÁ
                </td>
                <td>
                  2007
                </td>
              </tr>
              <tr>
                <td>
                  11
                </td>
                <td>
                  Edita
                </td>
                <td>
                  HLOUŠKOVÁ
                </td>
                <td>
                  2007
                </td>
              </tr>
              <tr>
                <td>
                  12
                </td>
                <td>
                  Agáta
                </td>
                <td>
                  ŠKRIPKO
                </td>
                <td>
                  2008
                </td>
              </tr>
            </tbody>
          </table>
          <h2>Rozvrh tréninkových hodin:</h2>
          <table>
            <thead>
              <tr>
                <th>
                  Den
                </th>
                <th>
                  Plavecká příprava
                </th>
                <th>
                  Kondiční příprava
                </th>
                <th>
                  Plavecká příprava2
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Pondělí
                </td>
                <td>
                  6:00 - 7:00
                </td>
                <td></td>
                <td>
                  15:00 - 17:00
                </td>
              </tr>
              <tr>
                <td>
                  Úterý
                </td>
                <td>
                  6:00 - 7:00
                </td>
                <td></td>
                <td>
                  16:00 - 18:00
                </td>
              </tr>
              <tr>
                <td>
                  Středa
                </td>
                <td></td>
                <td></td>
                <td>
                  16:00 - 18:00
                </td>
              </tr>
              <tr>
                <td>
                  Čtvrtek
                </td>
                <td>
                  6:00 - 7:00
                </td>
                <td></td>
                <td>
                  16:00 - 18:00
                </td>
              </tr>
              <tr>
                <td>
                  Pátek
                </td>
                <td>
                  6:00 - 7:00
                </td>
                <td></td>
                <td>
                  16:00 - 18:00
                </td>
              </tr>
              <tr>
                <td>
                  Sobota
                </td>
                <td>
                  7:15 - 9:15
                </td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <br>
          <p>Kondiční příprava bude upřesněna.</p>
        </div>
      </article>
    </div>
  </main>
{% endblock %}