.Container {
  width: 100%;
  max-width: rem(1224px) + 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;

  &--decorative {
    position: relative;

    &::after,
    &::before {
      content: "";
      display: block;
      width: rem(292px);
      height: rem(82px);
      position: absolute;
      background-color: transparent;
      background-image: url(../img/waves.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }

    &::after {
      top: 47%;
      right: rem(-146px);
    }

    &::before {
      top: 17%;
      left: rem(-146px);
    }
  }
}
