.ArchiveList {
  li {
    border-bottom: $borderPrimary;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.Filters {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: -1rem;

  &-item {
    margin: 0 1rem 1rem 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.PhotoGalleryGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;

  @include respondTo(sm) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respondTo(xs) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  &--homepage {
    @include respondTo(sm) {
      grid-auto-flow: column;

      .PhotoBox {
        width: rem(209px);
      }
    }
  }

  &--article {
    grid-template-columns: repeat(10, 1fr);

    @include respondTo(sm) {
      grid-auto-flow: column;

      .PhotoBox {
        grid-column: auto;
        width: rem(209px);
      }
    }

    .PhotoBox {
      grid-column: span 2;

      &:first-child,
      &:nth-child(2) {
        grid-column: span 5;
      }
    }
  }
}

.PartnersGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;

  @include respondTo(sm) {
    grid-auto-flow: column;
  }
}
